*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

html {
    height: 100%; 
}

body {
    min-height: 100%;         
    text-decoration: none;
    background-color: black;
 }

.corner {
    border-radius: 5px;
}

a, p {
    text-decoration: none;
}

#top {
    position: relative;
    height: 10px;
/*    background-color: white;  -- for testing */  
}

/* Brand elements */

#home-link {
    top: 6px;
    margin-left: 0px;
    width: 220px;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

#home-link a {
    text-decoration: none;
}

.brand {
    line-height: 33px;
    height: 100%;
    letter-spacing: -5px;
    color: black;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 45px;
}

.brand:hover {
    color: #00ccff;
     -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

/* END Brand elements */
 
/* Nav Elements */

nav, .small-nav {
    background-color: white;
    height: 49px;
    width: 100%;
    top: 96%;
    z-index: 500;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 0.9;
}

.navbar-nav {
    margin: 0px;
    float: right;
    min-width: 70%;
    max-width: 100%;
    height: 50px;
    line-height: 28px;
    position: relative;
    display: inline;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixed-nav {
/* called once display scrolls to first content wrapper */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.opacity {
    opacity: 0.82;
}

.col-xs-3 {
    flex-basis: 10%;
    text-align: center;
}

ul.navbar-nav li {
    display: inline;
    margin: 0;
/*    height: 20px;*/
    padding-top: 4px;
}

ul.navbar-nav li a {
    height: 20%;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    font-size: 22px;
    font-weight: 10;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 11px;
}

ul.navbar-nav li a:hover, .hamburgerMenu li a:hover {
    color: #00ccff;
     -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.unhighlighted {
    color: black;
    background-color: white;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

.highlight {
/* highlight class activated by scrolling script in app.js */
    color: white;
    background-color: black;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

/* background video loop elements */

.absolute-center {
    overflow: auto;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -500;
}

.fullscreen-video__video {
    margin: auto;
    width: 100%;
    height: 100%;
}

/* body-content elements */

.body-content {
    height: 500%;
    width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 40%;
/*    background-color: rgba(0,0,0,0.6);*/
    background-color: white;
    min-height: 500px;
    max-height: 3400px;
}

.body-content p, h1, h2, h3, .timeline, .share-buttons, .contact-form, .link-div {
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-x: auto;
    text-align: left;
}

.body-content h1 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 6%;
}


.body-content p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

#wrapper-one {
/*    height: 700px;*/
    position: relative;
    margin-top: 193%;
}

.waypoint_border {
    position: relative;
    display: block;
    text-align: right;
    right: 45px;
    font-size: 30px;
    margin-top: 40%;
}

.waypoint_border a {
    height: 5px;
    width: 5px;
    color: black;
    text-decoration: none;
}

.timeline {
/*    position: absolute;*/
    bottom: 30px;
}

.twitter-share-button {
}

.fb-follow {
}

#wrapper-two {
    background-color: white;
    opacity: 0.82;
/*    height: 700%;*/
}

.link-div-listo, .link-div-bloccit, .link-div-bloc-jams {
    display: block;
    margin: auto;
    width: 125px;
    height: 50px;
}

.link-div-bloccit {
    width: 158px;
}

.link-div-bloc-jams {
    width: 210px;
    height: 56px;
}

listo, bloccit, .blocJams {
    width: 100%;
    left: 0;
    float: left;
}

.listo p, .bloccit p, .blocJams p {
    text-decoration: none;
    text-align: left;
    font-size: 60px;
    width: 100%;
    margin-left: 0;
}

.listo p:active, .bloccit p:active {
    color: blue;
}

.listoPicLink, .bloccitPicLink, .blocJamsPicLink {
    width: 90%;
    height: 90%;
    opacity: 1;
    margin-left: 5%;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.listoPicLink:hover, .bloccitPicLink:hover, .blocJamsPicLink:hover {
/*    -webkit-filter: saturate(3); filter: saturate(3);*/
    -webkit-filter: grayscale(0%); filter: grayscale(0%);
/*    -webkit-filter: contrast(160%); filter: contrast(160%);*/
/*    -webkit-filter: brightness(0.25); filter: brightness(0.25);*/
/*    -webkit-filter: blur(3px); filter: blur(3px);*/
/*    -webkit-filter: invert(100%); filter: invert(100%);*/
/*    -webkit-filter: sepia(100%); filter: sepia(100%);*/
/*    -webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);*/
/*    -webkit-filter: opacity(50%); filter: opacity(50%);*/
}

.github {
    width: 130px;
/*    float: right;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: auto;
    text-align: right;
}

.github:hover {
    color: mediumpurple;
}

#wrapper-three {
/*    background-color: #99ffcc;*/
/*    height: 700px;*/
}

#wrapper-four {
/*    height: 1000px;*/
/*    background-color: #ccd9ff;*/
}

.contact-form {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    width: 90%;
    height: 90%;
    overflow: auto;
}

.contact-fields {
    width: 100%;
    height: 600px;
    overflow: auto;
}

.form-control {
    height: 10%;
    margin-bottom: 15px;
    border-right: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: lightgray;    
/*    background-color: #e6e6e6;*/
}

.form-control:hover {
    background-color: whitesmoke;
}

input {
    width: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width: 100%;
    resize: none;
/*    background-color: black;*/
/*    opacity: 0.5;*/
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
    opacity: 0.5
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
        opacity: 0.5

}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
        opacity: 0.5

}
:-moz-placeholder { /* Firefox 18- */
  color: black;
        opacity: 0.5

}

.fa-paper-plane {
    border-style: none;
    text-align: center; 
}

.btn-send {
    text-align: center;
    border-radius: 5px;
    width: 40px;
    border-style: none;
    background-color: lightgray;
}

.btn-send:hover {
    background-color: gray;
    color: white;
}

.btn-send:active {
    width: 5%;
}

/*
.fa-paper-plane:hover {
    color: white;
}
*/

/* Media Query large-view-port-view */

/*@media (min-width: 1025px) {*/
@media (min-width: 797.51px) {

    .small-view-port-view {
        display: none;
    }
}

/* Media Query small-view-port-view */

/*@media (max-width: 1024px) {*/
@media (max-width: 797.49px) {

    .large-view-port-view {
        display: none;
    }

    .small-nav {
        position: fixed;
        top: 0;
        left: 0;
/*        height: 4.5%;*/
    }
    
    .brand {
        line-height: 46px;
        margin-left: 1%;
        width: 230px;
    }
    .hamburger-container {
        position: absolute;
        background-color: transparent;
        overflow: auto;
        margin: auto;
        width: 56px;
        height: 56px;
        margin-right: 13.5px;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    
    .hamburger-container:active {
        background-color: transparent;
    }

    .hamburger {
        font-size: 312.5%;
        color: black;
        z-index: 500;
        cursor: pointer;
/*        opacity: 0.5;*/
    }

    .hamburger:hover {
        -webkit-transition: color 0.1s ease-in-out;
        -moz-transition: color 0.1s ease-in-out;
        -o-transition: color 0.1s ease-in-out;
        transition: color 0.1s ease-in-out;
    }

    .x-out {
        font-size: 312.5%;
        color: black;
        cursor: pointer;
    }

    .x-out:hover {
        -webkit-transition: color 0.1s ease-in-out;
        -moz-transition: color 0.1s ease-in-out;
        -o-transition: color 0.1s ease-in-out;
        transition: color 0.1s ease-in-out;
    }

    .hamburgerMenu {
        position: fixed;
        background-color: white;
        width: 105px;
        top: 50px;
        height: 100%;
        z-index: 600;
        margin: auto;
    }

    .hamburgerList {
        margin: 0;
        margin-top: 20%;
        height: 100%;
        width: 100%
        }
    
    .menuItem {
        position: relative;
        display: block;
        width: 146%;
        left: -35px;
        cursor: pointer;
    }

    .hamburgerMenu li:nth-child(1), .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        height: 23%;
    }

    .link {
        text-align: center;
        text-decoration: none;
        font-family: 'Fredoka One', cursive;
        font-size: 140%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 5px;
    }

    .unhighlighted {
        color: black;
        background-color: white;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
    }

    .highlight {
        color: white;
        background-color: black;
        -webkit-transition: color 1s ease-in-out;
        -moz-transition: color 1s ease-in-out;
        -o-transition: color 1s ease-in-out;
        transition: color 1s ease-in-out;
    }
    
    .wrapper {
        opacity: 0.95;
    }

    #wrapper-one {
        margin-top: 200%;
    }

    .fullscreen-video__video {
        display: none;
    }
}

@media only screen
    and (min-device-width: 569px)
    and (max-device-width: 797px) {
        
        
}

/* ----------- iPhone 5 portrait ----------- */

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

/*
    .brand {
          font-size: 45px;
          margin-left: 4%;
          margin-top: 3px;
    }

    .corner {
          border-radius: 15px;
    }

    .content {
          width: 100%;
    }

    .hamburgerMenu {
        right: -28%;
        width: 28%;
    }

    .hamburgerMenu ul {
        margin: 0;
        margin-top: 20px;
        height: 94%;
    }

    .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        margin-top: 60px;
    }

    .hamburgerMenu li a {
        font-size: 20px;
        padding-top: 35%;
        padding-bottom: 35%;
        border-radius: 20px;
    }
*/

}

/* ----------- iPhone 5 landscape ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

/*
    .small-nav {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 20%;
    }

    .brand {
          font-size: 35px;
          margin-top: 0%;
    }

    .hamburger-nav {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 20%;
    }

    .hamburgerMenu {
        width: 14%;
        right: -14%;
        top: 20%;
        height: 80%;
    }

    .hamburgerMenu ul {
        margin: 0;
        margin-top: 20px;
        height: 94%;
    }

    .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        margin-top: 15%;
    }

    .hamburgerMenu li a {
        font-size: 18px;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 30%;
        padding-right: 30%;
        margin-left: 10%;
        border-radius: 20px;
    }
*/
}

/* ----------- iPhone 6+ portrait ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

/*
    .brand {
        font-size: 45px;
        margin-left: 4%;
        margin-top: 3px;
    }
*/
}

/* ----------- iPhone 6+ landscape ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

/*
    .brand {
        font-size: 48px;
        margin-top: -12px;
    }

    .hamburgerMenu {
        width: 14%;
        right: -14%;
        top: 20%;
        height: 80%;
    }

    .hamburgerMenu ul {
        margin: 0;
        margin-top: 15px;
        height: 94%;
    }

    .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        margin-top: 20px;
    }

    .hamburgerMenu li a {
        font-size: 18px;
        text-align: center;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 20px;
    }
*/
}

/* ----------- all iPads portrait ----------- */

@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {

/*
    .small-nav {
        height: 7.5%;
    }

    .hamburger-nav {
        height: 7.5%;
    }

    .brand {
          margin-top: -2px;
    }

    .hamburgerMenu {
        top: 7.5%;
        height: 92.5%;
        width: 14%;
        right: -14%;
    }

    .hamburgerMenu ul {
        margin: 0;
        margin-top: 25px;
        height: 94%;
    }

    .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        margin-top: 160%;
    }

    .hamburgerMenu li a {
        font-size: 20px;
        padding-top: 35%;
        padding-bottom: 35%;
        border-radius: 20px;
    }
*/
}

/* ----------- all iPads landscape ----------- */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {

/*
  .small-nav {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 10%;
    }

    .brand {
        text-align: left;
        font-size: 60px;
        margin-top: -3px;
    }

    .hamburger-nav {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 10%;
    }

    .hamburgerMenu {
        width: 14%;
        right: -14%;
        top: 10%;
        height: 90%;
    }

    .hamburgerMenu ul {
        margin: 0;
        margin-top: 25px;
        height: 94%;
    }

    .hamburgerMenu li:nth-child(2), .hamburgerMenu li:nth-child(3), .hamburgerMenu li:nth-child(4) {
        margin-top: 70%;
    }

    .hamburgerMenu li a {
        font-size: 30px;
        text-align: center;
        padding-top: 22%;
        padding-bottom: 22%;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 20px;
    }

    .fullscreen-video__video {
        display: none;
    }
*/
}

/* Eric Myer's Reset: */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
